body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.top-bar {
    margin-top: 10px;
}

.top-right {
    float: right;
    margin-top: 20px;
}

.apps {
    position: relative;
    top: 6px;
    width: 25px;
}

/*appearance of sign in button*/
.sign-in {
    background-color: #4285f4;
    border: solid 1px #4285f4;
    color: #FFF;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
}

.icon {
    padding-right: 20px;
}

/*padding on icons in top right of header bar*/
.gap {
    padding-right: 10px;
}

/*padding between nav items*/
.gap-2 {
    padding-right: 30px;
}

/*positioning google logo*/
.logo {
    padding-top: 25px;
    padding-left: 25px;
}

/*sizing google logo*/
.google-logo {
    width: 95px;
}

/*set position of search bar relative to whole page*/
.search {
    position: absolute;
    top: 0;
    left: 170px;
}

/*setting dimensions of search bar*/
.g-search {
    width: 700px;
    height: 44px;
    border-radius: 24px;
    border: solid 1px #dfe1e5;
    margin-top: 30px;
}

/*changing position of placeholder text relative to search bar border*/
input::placeholder {
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

/*set size and position for cross*/
.cross {
    width: 25px;
    position: relative;
    right: 150px;
    top: 7px;
}

/*setting mic icon size and position*/
.mic {
    width: 15px;
    position: relative;
    right: 125px;
    top: 6px;
}

/*set mag. glass icon size and position*/
.mag {
    width: 18px;
    position: relative;
    right: 110px;
    top: 5px;
}

/*positioning nav bar, setting font size + color*/
.navbar {
    margin-top: 30px;
    margin-left: 140px;
    font-size: 14px;
    color: #5f6368;
}

/*remove bullet points*/
ul {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin: 0;
}

.setting {
    margin-left: 100px;
}

.safe {
    float: right;
    margin-right: 30px;
}

/*make horizontal line break cover entire width*/
hr {
    width: 120%;
    margin-left: -20px;
}

.results {
    margin-left: 180px;
    font-size: 14px;
}

.grey {
    color: #5f6368;
}

/*styling individual result block*/
.result {
    width: 600px;
}

.link {
    font-size: 18px;
}

a {
    color: #1a0dab;
}

.info {
    color: #4d5156;
}
