body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.top-right {
    float: right;
}

.top-bar {
    margin-top: 10px;
}

.apps {
    position: relative;
    top: 6px;
    width: 25px;
}

/*appearance of sign in button*/
.sign-in {
    background-color: #4285f4;
    border: solid 1px #4285f4;
    color: #FFF;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
}

.icon {
    padding-right: 30px;
}

/*padding on icons in top right of header bar*/
.gap {
    padding-right: 10px;
}

/*positioning google logo*/
.logo {
    padding-top: 25px;
    padding-left: 25px;
}

/*sizing google logo*/
.google-logo {
    width: 95px;
}

/*set position of search bar relative to whole page*/
.search {
    position: absolute;
    top: 0;
    left: 170px;
}

/*setting dimensions of search bar*/
.g-search {
    width: 700px;
    height: 44px;
    border-radius: 24px;
    border: solid 1px #dfe1e5;
    margin-top: 30px;
}

/*changing position of placeholder text relative to search bar border*/
input::placeholder {
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

/*setting mic icon size and position*/
.mic {
    width: 15px;
    position: relative;
    right: 90px;
    top: 6px;
}

/*set mag. glass icon size and position*/
.mag {
    width: 20px;
    position: relative;
    right: 70px;
    top: 5px;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.nav-item {
    display: inline;
}

.mid {
    text-align: center;
}

.right {
    text-align: right;
}

.top-result {
    width: 650px;
    border: solid 1px #dfe1e5;
    border-radius: 8px;
    margin-top: 100px;
}
